<div class="user-task-right-container" id="user-task-right-container">
    <ul id="user-task-ul">
        <div *ngFor="let task of tasks" class="user-task-items" id={{task.id}}>
            <div *ngFor="let categoryId of task.categoryIds">
                <div *ngIf="categoryId == selectedCategory.id && !task.isCompleted">
                    <div class="task-radio">
                        <i [ngClass]="task.isCompleted ? 'fa-sharp fa-solid fa-circle-check' :  'fa-regular fa-circle'"
                            (click)="markAsCompleted(task)"></i>
                    </div>
                    <div class="user-task-info" (click)="selectTask(task)">
                        <p>{{task.name}}</p>
                    </div>
                    <div class="star-icon">
                        <i [ngClass]="task.isImportant ? 'fa-solid fa-star' : 'fa-regular fa-star'"
                            (click)="markAsImportant(task)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="completedCount > 0 && selectedCategory.id != 2">completed {{completedCount}}</div>
        <div *ngFor="let task of tasks" class="user-task-items" id={{task.id}}>
            <div *ngFor="let categoryId of task.categoryIds">
                <div *ngIf="categoryId == selectedCategory.id && task.isCompleted && selectedCategory.id != 2">
                    <div class="task-radio">
                        <i class='fa-sharp fa-solid fa-circle-check'
                            (click)="markAsCompleted(task)"></i>
                    </div>
                    <div class="user-task-info" (click)="selectTask(task)">
                        <p appCompletedTask>{{task.name}}</p>
                    </div>
                    <div class="star-icon">
                        <i [ngClass]="task.isImportant ? 'fa-solid fa-star' : 'fa-regular fa-star'"
                            (click)="markAsImportant(task)"></i>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>