$font-family_1: SegoeUI-SemiBold-final, Segoe UI Semibold, SegoeUI-Regular-final, Segoe UI, "Segoe UI Web (West European)", Segoe, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Tahoma, Helvetica, Arial, sans-serif;

.top-container {
	height: 48px;
	background-color: rgb(37,100,207);
	.todo-link {
		display: inline;
		color: white;
		padding-top: 14px;
		padding-left: 13px;
		padding-bottom: 13px;
		padding-right: 13px;
		padding-left: 16px;
		i {
			width: 6px;
		}
		&:hover {
			background-color:#005A9E;
		}
	}
	.todo-title {
		display: inline-block;
		p {
			font-family: $font-family_1;
			color: white;
			width: 42px;
			padding-left: 8px;
			padding-right: 12px;
			font-weight: 600;
			line-height: 48px;
			margin: 0;
		}
	}
	.search-bar {
		display: inline-block;
		i {
			width: 384px;
			margin-left: 250px;
			border-radius: 5px;
			background-color: white;
			padding: 8px;
			font-size: small;
		}
		width: 76.4%;
	}
	.basic-feature-icon {
		display: inline-block;
		width: 48px;
		line-height: 48px;
		text-align: center;
		i {
			width: 16px;
			color: white;
		}
	}
	.basic-feature-icon:hover {
		background-color:#005A9E;
	}
}

