<div class="top-container">
    <div class="todo-link">
      <i class="fa-solid fa-ellipsis-vertical"></i>
      <i class="fa-solid fa-ellipsis-vertical"></i>
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="todo-title">
      <p>To do</p>
    </div>
    <div class="search-bar">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="basic-feature-icon" (click)="getSettingDetails()">
      <i class="fa-solid fa-gear"></i>
    </div>
    <div class="basic-feature-icon">
      <i class="fa-solid fa-question"></i>
    </div>
    <div class="basic-feature-icon">
      <i class="fa-solid fa-bullhorn"></i>
    </div>
    <div class="basic-feature-icon">
      <i class="fa-solid fa-circle-user"></i>
    </div>
</div>
<app-category-panel></app-category-panel>