.home-page-container {
    background-color: rgb(221, 227, 220);
    background-image: url('https://lh3.googleusercontent.com/proxy/U05R3-e1XfE5u9Lpu-aw2Fo5fDfxrpGSSnl8C4NGDJ0qisP-ffg9XOzVsuFIwj52JrNTgGdOv-G9BlY5qx-fGygb4t95IEL4');

    .login-container {
        display: inline-block;
        margin-top: 4%;
        margin-left: 40%;
        border-radius: 10px;
        background-color: white;
        background-color: rgb(173, 216, 230);
        padding-left: 50px;
        padding-right: 60px;
        margin-bottom: 60px;

        .login-text {
            font-weight: 700;
            font-size: x-large;
            margin-top: 30px;
            // display: inline-block;

            i {
                color: blue;
            }

            p {
                margin-left: 20px;
                display: inline-block;
            }
        }

        .sign-in-text-container {

            .sign-in-text {
                font-weight: 700;
                font-size: x-large;
                margin-top: 30px;
                display: inline-block;
            }

            .error-text {
                display: inline-block;
                color: red;
                margin-left: 30px;
            }
        }

        .user-name-container,
        .password-container {
            margin-top: 35px;

            input {
                margin-top: 20px;
                border: none;
                border-bottom: solid 1px;
                width: 50px;
                width: 380px;
            }
        }

        .submit-container {
            width: 100px;
            height: 28px;
            text-align: center;
            margin-top: 50px;
            margin-left: 67%;
            margin-bottom: 30px;
            background-color: rgb(24, 119, 242);
            border-radius: 5px;
        }


    }
}